﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rent a Car</h1>
    <p class="lead">Registro de vehiculos</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Clientes", "Index", "Clientes")</h2>
        <p>
            Ver y Registrar Clientes
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Vehiculo", "Index", "Vehiculoes")</h2>
        <p>Ver y Registrar Vehiculos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Detalles", "Index", "Detalles")</h2>
        <p>Ver y Registrar Detalles de los vehiculos</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>